#main{
    background-color: whitesmoke;
    padding-bottom: 50px;
}
#main > h1{
    text-align: center;
    padding: 20px 0;
    font-weight: 50px;
}

.container-table{
    max-width: 1000px;
    border: 1px solid #d3ced2;
    margin: auto;
    padding: 20;
    border-radius: 5px;
    box-shadow: 0 10px 10px -5px rgb(0 0 0 / 81%);
    background-color: #fff;
    color: black;
}
table,th,td {
    border: 1px solid black;
    border-color: black;
}
thead {
    background-color: #cccddd;
}
.table-bordered{
    width: 100%;
    margin-bottom: 20px;
}
td{
    text-align: center;

}
td a:first-child{
    color: black;
}

.tambah{
    background-color: #d3ced2;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 10px;
}

.tambah a{
    color: rgb(0, 0, 0);
    padding: 0px 20px;
    font-weight: bold;
}

.tambah:hover{
    transition: 1s;
    transform:scale(1.1);
}